* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
	padding: 20px;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
.item {
	background: coral;
	padding: 20px;
	font-size: 1.5rem;
	line-height: 1.7;
}

.item:nth-child(1) {
	font-size: 2rem;
	color: blue;
	grid-row: span 2;
	display: grid;
	align-content: center;
}

/*===Media Query====*/
@media screen and (max-width: 768px) {
}
